
@{
	ViewBag.Title = "SanPham";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Danh sách sản phẩm chứa hình ảnh và tiêu đề -->
<div id="products">
	<div class="product">
		<img src="~/Content/photo/8600-rog-gx502.jpg" alt="Laptop">
		<h3> Laptop</h3>
	</div>

	<div class="product">
		<img src="~/Content/photo/niz-66-keyboard-ec-switch.jpg" alt="Bàn phím">
		<h3> Bàn phím</h3>
	</div>

	<div class="product">
		<img src="~/Content/photo/OIP.jpg" alt="Chuột">
		<h3> Chuột</h3>
	</div>
	<!-- Thêm các sản phẩm khác theo cùng mẫu -->
</div>


