.box-pro {
    width: 200px;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 20px;
    float: left;
    margin: 10px;
    padding: 10px;
}

    .box-pro:hover {
        box-shadow: 10px 10px 5px yellow;
    }

.box-img {
    width: 200px;
    height: 130px;
    padding: 15px;
}

.fm-size-img {
    width: 160px;
    height: 150px;
}

.box-des {
    background-color: aquamarine;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

.list-pro {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
